<!DocType html>
<html lang="en">
<html>
    <Head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <Title> FitApp </Title>
        <!-- This probably is incorrectly linked -->
        <link rel="stylesheets" type="text/css" href ="/main.css">
    </Head>
    <Body>
    
            <h1 class = "center-align">
                FitApp User Form & Registration
            </h1>
            
        </div>
        

        <h5>First Name:</h5>
        <p>[_______________________]</p>
        <h5>Last name:</h5>
        <p>[_______________________]</p>
        <h5>Email:</h5>
        <p>[_______________________]</p>
        <h5>Username:</h5>
        <p>[_______________________]</p>

        <button id="modalBtn" class="buton"> </button>
            <script src="main.js"></script>

        <text>Terms & Agreements</text>

        <p> </p>

        <button id="modalBtn" class="buton">Subtmit</button>
            <script src="main.js"></script>

</html>
